<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jeeweel.syl.jwtask" >

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 百度定位服务 -->
    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <application
        android:name=".business.main.JwAppAplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- 百度地图KEY -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="zorIkTyr1NGF4ZQtFAb8FKG7" />

        <!-- 百度地图定位服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" />
            </intent-filter>
        </service>

        <!-- 友盟自动更新 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="564a926ce0f55a9eea000165" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />
        <!-- 自动更新服务 -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <!-- 短信验证 -->
        ެެ
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".business.main.module.basic.WelcomActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".business.main.module.news.NewsHomeActivity"
            android:label="@string/title_activity_news_home" >
        </activity>
        <activity
            android:name=".business.main.module.task.TaskHomeActivity"
            android:label="@string/title_activity_task_home" >
        </activity>
        <activity
            android:name=".business.main.module.contact.ContactHomeActivity"
            android:label="@string/title_activity_contact_home" >
        </activity>
        <activity
            android:name=".business.main.module.more.MoreHomeActivity"
            android:label="@string/title_activity_more_home" >
        </activity>
        <activity
            android:name=".business.main.module.basic.AppStartActivity"
            android:label="@string/title_activity_more_home" >
        </activity>
        <activity
            android:name=".business.main.tab.TabHostActivity"
            android:label="@string/title_activity_more_home" >
        </activity>
        <activity
            android:name=".business.main.module.basic.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".business.main.module.basic.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".business.main.module.basic.RegisterSceondActivity"
            android:label="@string/title_activity_register_sceond" >
        </activity>
        <activity
            android:name=".business.main.module.basic.RegisterLastActivity"
            android:label="@string/title_activity_register_last" >
        </activity>
        <activity
            android:name=".business.main.module.more.MineActivity"
            android:label="@string/title_activity_mine" >
        </activity>
        <activity
            android:name=".business.main.module.more.MineEditnameActivity"
            android:label="@string/title_activity_mine_editname" >
        </activity>
        <activity
            android:name=".business.main.module.more.FeedbackActivity"
            android:label="@string/title_activity_feedback" >
        </activity>
        <activity
            android:name=".business.main.module.more.MineSexActivity"
            android:label="@string/title_activity_mine_sex" >
        </activity>
        <activity
            android:name=".business.main.module.more.MineEditActivity"
            android:label="@string/title_activity_main_edit" >
        </activity>
        <activity
            android:name=".business.main.module.task.StartSignUpActivity"
            android:label="@string/title_activity_start_sign_up" >
        </activity>
        <activity
            android:name=".business.main.module.more.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name=".business.main.module.task.SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".business.main.module.task.SignListActivity"
            android:label="@string/title_activity_sign_list" >
        </activity>
        <activity
            android:name=".business.main.module.contact.FriendListActivity"
            android:label="@string/title_activity_friend_list" >
        </activity>
        <activity
            android:name=".business.main.module.contact.FriendAddActivity"
            android:label="@string/title_activity_friend_add" >
        </activity>
        <activity
            android:name=".business.main.module.contact.FriendAddListActivity"
            android:label="@string/title_activity_friend_add_list" >
        </activity>
        <activity
            android:name=".business.main.module.contact.AddHomeActivity"
            android:label="@string/title_activity_add_home" >
        </activity>
        <activity
            android:name=".business.main.module.contact.AddDeptActivity"
            android:label="@string/title_activity_add_group" >
        </activity>
        <activity
            android:name=".business.main.module.contact.DeptAddFriendListActivity"
            android:label="@string/title_activity_group_add_friend_list" >
        </activity>
        <activity
            android:name=".business.main.module.contact.AddOrgActivity"
            android:label="@string/title_activity_add_org" >
        </activity>
        <activity
            android:name=".business.main.module.contact.DeptUsersListActivity"
            android:label="@string/title_activity_dept_users_list" >
        </activity>
        <activity
            android:name=".business.main.module.contact.FriendDetailActivity"
            android:label="@string/title_activity_friend_detail" >
        </activity>
        <activity
            android:name=".business.main.module.task.PublicyListActivity"
            android:label="@string/title_activity_publicy_list" >
        </activity>
        <activity
            android:name=".business.main.module.task.PublicyDetailActivity"
            android:label="@string/title_activity_publicy_detail" >
        </activity>
        <activity
            android:name=".business.main.module.task.PublicyAddActivity"
            android:label="@string/title_activity_publicy_add" >
        </activity>
        <activity
            android:name=".business.main.module.photo.ImageGridActivity"
            android:label="@string/title_activity_publicy_add" >
        </activity>
        <activity
            android:name=".business.main.module.photo.GetPicActivity"
            android:label="@string/title_activity_publicy_add" >
        </activity>
        <activity
            android:name=".business.main.module.photo.PhotoActivity"
            android:label="@string/title_activity_publicy_add" >
        </activity>
        <activity
            android:name=".business.main.module.task.PublicyAddNextActivity"
            android:label="@string/title_activity_publicy_add_next" >
        </activity>
        <activity
            android:name=".business.main.module.task.PublicyContactHomeActivity"
            android:label="@string/title_activity_publicy_contact_home" >
        </activity>
        <activity
            android:name=".business.main.module.task.PublicyUsersListActivity"
            android:label="@string/title_activity_publicy_users_list" >
        </activity>
        <activity
            android:name=".business.main.module.more.MinePhotoActivity"
            android:label="@string/title_activity_mine_photo" >
        </activity>
        <activity
            android:name=".business.main.module.task.TaskJobHomeActivity"
            android:label="@string/title_activity_task_job_home" >
        </activity>
        <activity
            android:name=".business.main.module.task.JobAddActivity"
            android:label="@string/title_activity_job_add"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".business.main.module.more.MineQRCodeActivity"
            android:label="@string/title_activity_mine_qrcode" >
        </activity>
        <activity
            android:name=".business.main.module.more.MineAddressActivity"
            android:label="@string/title_activity_mine_address" >
        </activity>
        <activity
            android:name=".business.main.module.task.JobListActivity"
            android:label="@string/title_activity_job_list" >
        </activity>
        <activity
            android:name=".business.main.module.task.JobFzListActivity"
            android:label="@string/title_activity_job_cy_list" >
        </activity>
        <activity
            android:name=".business.main.module.task.JobGcListActivity"
            android:label="@string/title_activity_job_gc_list" >
        </activity>
        <activity
            android:name=".business.main.module.task.JobShListActivity"
            android:label="@string/title_activity_job_sh_list" >
        </activity>
        <activity
            android:name=".business.main.module.task.JobDetailActivity"
            android:label="@string/title_activity_job_detail" >
        </activity>
        <activity
            android:name=".business.main.module.more.AboutVersionActivity"
            android:label="@string/title_activity_about_version" >
        </activity>
        <activity
            android:name=".business.main.module.task.JobCyListActivity"
            android:label="@string/title_activity_job_cy_list" >
        </activity>
        <activity
            android:name=".business.main.module.task.CommitListActivity"
            android:label="@string/title_activity_commit_list" >
        </activity>
        <activity
            android:name=".business.main.module.task.SendShActivity"
            android:label="@string/title_activity_commit_list"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".business.main.module.task.YshActivity"
            android:label="@string/title_activity_commit_list" >
        </activity>

    </application>

</manifest>
