<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jeeweel.syl.jwtask" >

    <application
        android:name=".business.main.JwAppAplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".business.main.module.basic.WelcomActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".business.main.module.news.NewsHomeActivity"
            android:label="@string/title_activity_news_home" >
        </activity>
        <activity
            android:name=".business.main.module.task.TaskHomeActivity"
            android:label="@string/title_activity_task_home" >
        </activity>
        <activity
            android:name=".business.main.module.contact.ContactHomeActivity"
            android:label="@string/title_activity_contact_home" >
        </activity>
        <activity
            android:name=".business.main.module.more.MoreHomeActivity"
            android:label="@string/title_activity_more_home" >
        </activity>
        <activity
            android:name=".business.main.module.basic.AppStartActivity"
            android:label="@string/title_activity_more_home" >
        </activity>
        <activity
            android:name=".business.main.tab.TabHostActivity"
            android:label="@string/title_activity_more_home" >
        </activity>
        <activity
            android:name=".business.main.module.more.MineActivity"
            android:label="@string/title_activity_mine" >
        </activity>
    </application>

</manifest>
